<h1>Users</h1>
@if(usersError) {
<div>
  <p>No users available.</p>
</div>
} @else {
<!-- Iterate through each user received -->
<div>
  <table mat-table [dataSource]="users" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    @for( regularCell of regularCellKeys; track regularCell) {
    <!-- Regular cell content can be added here -->

    <ng-container [matColumnDef]="regularCell">
      <th mat-header-cell *matHeaderCellDef>{{ regularCell }}</th>
      <td mat-cell *matCellDef="let element">{{ element[regularCell] }}</td>
    </ng-container>
    }

    <!-- attributes Column -->
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>roles</th>
      <td mat-cell *matCellDef="let element">
        {{ element.roles ? element.roles.join(", ") : "No roles assigned" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="userKeys"></tr>
    <tr mat-row *matRowDef="let row; columns: userKeys"></tr>
  </table>
</div>
}
